
<!-- <link rel="stylesheet" href="css/view_project.css"> -->
<head>
    <link rel="stylesheet" href="css/view_project.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" >

   <!-- <style>
        button {
            all: unset;
            cursor: pointer;
          }
          
    </style> -->
</head>
<script src="scripts/vp.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<body>


<div class="row topnav">
    <div class="col col-lg-2">
      <h3 class="float-md-start mb-0 justify-content-md-left">Project<span class="text-warning">SOLAR</span></h3>
    </div>
    <div class="col float-md-end mb-0 justify-content-md-right">
          <nav class="nav nav-masthead justify-content-left float-md-end navbar-expand-sm">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
          <!-- <a class="nav-link " href="#">Log Out</a> -->
          
          </nav>
    </div>
  </div> 
  <div style="padding-top: 20px;">

      <h3>PROJECT PLAN</h3>

      <table class="table table-bordered">
          <!-- <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead> -->
          <tbody>
            <tr>
              
              <td width="200">Project Name</td>
              <td width="500"><%= name %>
                <button type="button" onclick="displayname()" style="float: right;">Edit</button>
                <form action="/pnamechange" method="POST">
                <input type="hidden" name="id" value=<%=_id%>>
                <input name="name" type="text" style="display:none; margin-top: 10px; width: 200px;" class="namechanger" placeholder="enter new name here" required>
                <button type="submit" style="display:none; margin-left: 20px; width: 70px;" id="namer">Update</button>
                </form>
                  </td>

            </tr>
            <tr>

              <td>Project ID</td>
              <td ><%= _id %></td>
              

            </tr>
            <tr>

              <td>Customer Name</td>
              <td><%= customerName %></td>
            </tr>
            <tr>

              <td>Customer Email ID</td>
              <td><%= customerEmail %></td>

            </tr>
            <tr>

              <td>Customer Phone Number</td>
              <td><%= phone %></td>

            </tr>
            <tr>

              <td>Property Address</td>
              <td><%= propertyAddress %></td>

            </tr>
            <tr>

              <td>Property Size</td>
              <td><%= projectSize %> sq ft</td>

            </tr>
            <tr>

              <td>Status</td>
              <td><%= status %>

                <% if (canChangeStatus) { %>
                <button type="button" onclick="displaystatus()" style="float: right;">Edit</button>
                <form action="/pstatuschange" method="POST">
                <input type="hidden" name="id" value=<%=_id%>>
                <input type="hidden" name="currStatusId" value=<%= statusId %>>
                <select name="status" class="statuschanger" style="display:none; margin-top: 10px; width: 200px;">
                    <option value=<%= statusId %>><%= status %></option>
                    <option value=<%= nextStatusId %>><%= nextStatus %></option>
                </select>
                <button type="submit" style="display:none; margin-left: 20px; width: 70px;" id="statuser">Update</button>
                </form>
                <% } %>
            </td>
            </tr>
            <tr>

              <td>Project Notes</td>
              <td><%= description %>
                <button type="button" onclick="displaydescription()" style="float: right;">Edit</button>
                <form action="/pdescriptionchange" method="POST">
                    <input type="hidden" name="id" value=<%=_id%>>
                    <input name="description" type="text" style="display:none; margin-top: 10px; width: 200px;" class="desc" placeholder="enter new description here" required>
                    <button type="submit" style="display:none; margin-left: 20px; width: 70px;" id="descriptionr">Update</button>
                </form></td>

            </tr>
          </tbody>
        </table>
  </div>






<div style="padding-top: 20px;">
    <h3>PROJECT MILESTONE</h3>
    <% if(timeline.length > 0) { %>
    <table class="table table-bordered">
    <tbody>
        <th>Status</th>
        <th>Date</th>
        <% for (let i = 0; i < timeline.length; i++) { %>
            <tr>
                <td><%= timeline[i].status %></td>
                <td><%= timeline[i].start %></td>
                
            </tr> 
            <% } %>
      </tbody>
    </table>
    <% } %>
</div>
<div class="bruh" style="padding-top: 30px;">
    <h3>IMAGES </h3>
    <% if(images && images.length > 0) { %>
        <% for (let i = 0; i < images.length; i++) { %>
        <img src="<%= images[i] %>" alt="<%= images[i] %>" height="320px" width="640px">
        <% } %>
    <% } else { %>
        <h5>No images uploaded</h5>
    <% } %>
</div>
<br><br>

<div class="bruh">
    <form id = "theImageForm" action="/uploadpictures" method="POST" enctype="multipart/form-data">
        <input type="file" name="projectUpdate" multiple>
        <input type="hidden" name="projectid" value=<%=_id%>>
        <input type="submit">
    </form>
</div>
<form action="/deleteproject" method="POST">
    <input type="hidden" name="id" value=<%=_id%>>
    <button type="submit">Delete</button>
</form>
</body> 